@font-face {
    font-family: "Socialico";
    src: url(/fonts/Socialico.ttf);
}

body {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'arial';
}

.padding-site {
    padding: 50px;
}

.main-title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    background-color: #445162;
    padding: 50px;
    box-sizing: border-box;
}

header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.header_wrp {
    width: 460px;
    float: left;
}

.product_title {
    font-size: 60px;
    color: #ffffff;
    margin: 0;

}

.product_info {
    margin: 20px 0 0 0;
    font-size: 20px;
    color: #ffffff;
    list-style-type: none;
    padding: 0;
    line-height: 1.6;
}

.product_info li::before {
    content: "  ";
    background-image: url(../img/check_icon_346.png);
    display: inline-block;
    width: 25px;
    height: 19px;
    margin-right: 11px;
}

.header_main_img {
    width: 469px;
    height: 214px;
    background-color: #ffffff;
    float: right;
}

.about_product_wrp {
    background-color: #ffffff;
    padding: 50px;
}

.about_product_wrp:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about_title {
    margin: 0;
}

.about_prodct_wrp p {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.about_product_video {
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}

.about_text_wrp {
    width: 650px;
    float: left;
}

.about_text_wrp p {
    margin: 20px 0 0 0;
}

.pluses_wrp {
    background-color: #F5F5F5;
    padding: 50px;
}

.pluses_wrp:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.pluses_title {
    text-align: center;
}

.pluses_wrp summary {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    position: relative;
}

.pluses_wrp summary::before {
    content: " ";
    background-image: url(../img/layer_2_56.png);
    background-repeat: no-repeat, repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #333333;
    margin-right: 7px;
    position: absolute;
    bottom: 30px;
    left: -30px;
}

summary::-webkit-details-marker {
    display: none;
}

details>summary {
    list-style: none;
    margin: 25px 0 0 0;
}

summary:focus {
    outline: 0;
}

.pluses_first_col {
    width: 45%;
    float: left;
    margin-left: 32px;
}

.pluses_second_col {
    float: right;
    width: 45%;
}

.screenshots_wrp {
    background-color: #fff;
    box-sizing: border-box;
}

.screenshots_wrp:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshot_block_content {
    width: 575px;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    float: left;
}

.screenshot_description_wrp {
    margin: 0;
}

.screenshot_col_1>div:nth-child(2),
.screenshot_col_2>div:nth-child(2) {
    margin: 0;
}

.screenshot_col_1 {
    float: left;
    width: 50%;
}

.screenshot_col_2 {
    float: right;
    width: 50%;
}

.screenshots_title {
    text-align: center;
    margin: 0 0 35px 0;
}

.screenshot_subtitle {
    font-weight: 400;
    font-size: 24px;
    color: #445161;
    margin: 0 0 15px 0;
    float: left;

}

.screenshot_description {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    display: inline-block;
    width: 350px;
    margin: 0 0 0 0;
    text-align: justify;
}

.screenshot_img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    margin: 0 15px 0 0;
    float: left;
}

.screenshot_img:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.reviews_wrp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

.reviews_wrp:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.reviews_title {
    width: 100%;
    text-align: center;

}

.reviews_content {
    width: 48%;
    margin: 32px 0 0 0;
    box-sizing: border-box;
    position: relative;

}

.reviews_figure {
    margin: 0 0 0 0;
}

.reviews_img {
    display: block;
    margin: 0 32px 20px 0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
    float: left;
}

.reviews_text {
    width: 81%;
    margin: 0 0 0 0;
    padding: 14px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    float: left;
    background-color: #EBEBEB;
    border-radius: 7px;
}

.reviews_text:before {
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid #EBEBEB;
    position: absolute;
    left: 74px;
    top: 20px;
}

.reviews_author {
    width: 100%;
    margin: 7px 0 0 0;
    font-size: 14px;
    line-height: 18px;
    color: #989898;
    float: left;
}

.offer_wrp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: flex-end;
}

.offer_wrp:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.offer_title {
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
}

.offer_sub_section {
    background-color: #445161;
    border-radius: 7px;
}

.offer_type_title {
    margin: 0;
    padding: 17px 0;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

.offer_price {
    width: 99%;
    margin: 0 auto;
    padding: 18px 0;
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: #fff;
    border-radius: 4px
}

.offer_type_list {
    list-style-type: decimal;
    margin: 14px 0 0 0;
    padding: 0 20px;
    list-style-position: inside;
}

.offer_type_list_text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.offer_buy_btn {
    width: 86%;
    margin: 20px auto;
    padding: 14px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}

.offer_buy_btn:hover {
    background-color: #EBEBEB;
}

.offer_buy_btn:active {
    background-color: #fff;
}

footer {
    padding: 50px 0 0 0;
    background-color: #445162;
    box-sizing: border-box;
}

footer:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.footer_title {
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
    color: #fff;
}

.footer_input_design {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #445162;
    border-radius: 5px;
    margin: 10px;
    padding: 11px 10px;
    box-sizing: border-box;
    border-width: 0px;
    outline: none;
}

.footer_form {
    float: left;
    width: 500px;
    margin: 0 0 0 250px;
    text-align: center;
}

.footer_contacts_wrp {
    text-align: center;
}

.footer_form_name {
    text-transform: capitalize;
}

.footer_form_email {}

.footer_form_text {
    resize: none;
    padding-bottom: 123px;
}

.footer_submit_btn {
    margin: 10px auto 50px auto;
    padding: 14px 48px;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
}

.footer_submit_btn:hover {
    background-color: #EBEBEB;
}

.footer_submit_btn:active {
    background-color: #fff;
}

.footer_contacts {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    list-style-type: none;
    padding: 0;
    position: relative;
}

.footer_contacts a {
    text-decoration: none;
    color: #fff;
}

.footer_contacts li {
    margin: 15px 0;
}

.footer_contacts li:before {
    margin: 0 10px;
    position: absolute;
    left: -42px;
}

.footer_contacts li:nth-child(1)::before {
    content: " ";
    background-image: url(../img/skype_icon_319.png);
    background-repeat: no-repeat, repeat;
    display: inline-block;
    width: 24px;
    height: 26px;
}

.footer_contacts li:nth-child(2)::before {
    content: " ";
    background-image: url(../img/icq_icon_324.png);
    background-repeat: no-repeat, repeat;
    display: inline-block;
    width: 26px;
    height: 26px;
}

.footer_contacts li:nth-child(3)::before {
    content: " ";
    background-image: url(../img/email_icon_332.png);
    background-repeat: no-repeat, repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
}

.footer_contacts li:nth-child(4)::before {
    content: " ";
    background-image: url(../img/phone_icon_337.png);
    background-repeat: no-repeat, repeat;
    display: inline-block;
    height: 24px;
    width: 23px;
}

.social_icons a {
    text-decoration: none;
    color: #ffffff;
}

.social_icons a:hover {
    color: #EBEBEB
}

.social_icons {
    margin: 50px 0 0 -35px;
    text-decoration: none;
    font-family: "Socialico";
    font-size: 60px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.footer_company_info {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
    background-color: #ebebeb;
}